.btn{
    font-family: arial;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 1400;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.btn-yellow{
	background-color: transparent;
	background-image: url('Images/Yellow.PNG');
}