.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 45%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #00CCFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.commonBtn{
    font-family: arial;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.colorBtn{
    font-family: arial;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 40px;
    cursor: pointer;
}
.btn-yellow{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Yellow.PNG');
}
.btn-white{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/White.PNG');
}
.btn-red{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Red.PNG');
}
.btn-green{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Green.PNG');
}
.btn-blue{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Blue.PNG');
}
.btn-magenta{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Magenta.PNG');
}
.btn-cyan{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Cyan.PNG');
}
.btn-dark_blue{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Dark-blue.png');
}
.btn-orange{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Orange.png');
}
.btn-light_green{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/Light-green.png');
}
.btn-on{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/ON.png');
}
.btn-off{
	background-color: transparent;
    background-size: cover;
	background-image: url('Images/OFF.png');
}